:root{
    --primary-color : #D0ECF2;
    --secondary-color: #1d213c;
    --tertiary-color : #9fa4b7;
    --quaternary-color : #d5dce4;
    
    --primary-color-logo : #F2F2F2;
    --secondary-color-logo : #CEECF2;
    --tertiary-color-logo: #A7DDF2;
    --quaternary-color-logo : #0B3140;
}

body{
    background-color: var(--primary-color-logo);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
 main{
    padding: 20px;
 }
header{
    display: flex;
    align-items: center;
    justify-content:space-between ;
    background-color: var(--secondary-color-logo);
    padding: 10px 20px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    margin-bottom: 20px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}




.logo{
    display: flex;
    align-items: center;
    font-size: 0;

}

.logo img{
    width: 50px;
}

.navBar ul {
  display: flex;  
  padding: 0px;
  margin: 0px;
  
  
}



.navBar ul li a{
    display: flex;
    align-items: center;
    overflow: hidden;
    
}

.navBar ul li a span{
    overflow: hidden;
    width: 0;
    
    
    
}

.navBar ul li a:hover span{
    color: var(--secondary-color-logo);

    font-size: 18px;
    display: inline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* overflow: visible; */
    width:80px; 
    transition: width 0.5s ease;
    
    
}

.navBar ul li a:hover {
    background-color: var(--quaternary-color-logo);
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 50px;
    /* width: 100px;
    transition: width 1.5s ease; */
    
}

.navBar ul li a img{
    padding-right: 5px;
    

}

.navBar ul li img{
    width: 40px;
}

.banner{
    position: relative;
    padding-bottom: 50.5%;
    width: 100vw;
}

@media screen and (min-width: 950px){
    .banner{
        padding-bottom: 500px;
    }
}

.banner img{
    position: absolute;
    width: 50%;
    max-width: 480px;
    min-width: 200px;
    left: 50%; 
    transform: translateX(-50%);
    border: 10px solid var(--tertiary-color-logo); 
    border-radius: 50%; 
    
}

.title{
    text-align: center;
}

.skill ul{
    display: flex;
    justify-content: space-between;
    padding: 0;
    flex-wrap: wrap;
    gap: 10px;
    


}

.skill ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 110px;
}

.skill ul li img{
    width: 100%;
}

.botones{
    display: flex;
    justify-content: space-around;
}

.contacto, .proyectos{
    background-color: red;
    padding: 20px;
}

.proyectos-section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.card-proyecto{
    width: 100px;
}
